<!DOCTYPE html>
<html>
 <head>
 <%include ./partials/head %>
 </head>
  <body>
  <%include ./partials/header %>
  <%include ./partials/about %>

  <!-- 	<div class="jumbotron">
  		<ul class="list-inline">
			<% for(var i=0; i<data.length; i++) {%>
			   <li>
			    <h3> <a href="/jobs/<%= data[i].id%>"> <%= data[i].title %> </a>  </h3> 
			    <h3> <%= data[i].role%></h3>
			    <h3> <%= data[i].location%></h3>
			    <h3> <%= data[i].company%></h3>
			   </li>
			<% } %>
		</ul>
  	</div>
  	 -->
  	
	  <h2>Current Job Listings</h2>

	  	<% for(var i=0; i<data.length; i++) {%>
		  <div class="list-group jumbotron">
		    <a href="/jobs/<%= data[i].id%>" class="list-group-item">
		      <h4 class="list-group-item-heading "><strong class="text-success"> <%= data[i].title %> </strong> </h4>

		      <p class="list-group-item-text ">
		        <strong class="text-primary"> <%= data[i].role%> </strong>
		        <%= data[i].location%>
		        <strong class="text-primary"> <%= data[i].company%> </strong>
		      </p>
		    </a>
		   </div>
		    
		<% } %>
  </body>
  <!-- <%include ./partials/footer %> -->
</html>
